@charset "utf-8";
/* CSS Document */

/** {
    padding: 0px;
    margin: 0px
}*/

#maincontent{
	text-align:center;
	background:rgba(0,0,0,0);;
}

#footer{
	text-align:left;
	color:#333333;
}

td, th{
	text-align:right;
}

.data{
	padding-top:20px;
	/*position:absolute;
	display:inline-block;*/
	margin: auto;
	height:auto;
	width:80%;
	font-size:1em;
	font-family:Open Sans, Segoe UI, Arial, Verdana;
}

#side{
	position:relative;
	clear:both;
	vertical-align:top;
	/*width:200px;*/
	margin:0;
	text-align:right;
	padding-right:20px;
}

#stage{
	position:relative;
}

#content {
	clear:both;
	/*border-top: dotted 2px grey;*/
	position:relative;
	text-align: left;
	width:800px;;
}

section{
	clear:both;
	border-top: dotted 2px grey;
	padding: 0em 0 2em;
}

.locWrapper{
	width:500px;
	height:250px;
	/*border-radius: 25px;*/
	border: 2px solid black;
	position:relative;
}

#locInfo{
	background-color:rgba(0,0,0,0.80);
	box-shadow: 5px 5px 5px #000000;
	position:relative;
	left:-60px;
	top:70px;
	width:250px;
	padding:5px;
	border-radius:5px;
	padding-left:10px;
	color:white;
	font-size:1.2em;
	font-family:Open Sans, Segoe UI, Arial, Verdana;
}

.buttons{
	vertical-align:bottom;
	position:absolute;
	right:20px;
	top:10px;
	width:150px;
	text-align:right;
}
.buttons div{
	position:relative;
	display:inline-block;
	margin-left:10px;
	border:none;
}

.locSFO {
	background: url(locations/sf.jpg) no-repeat bottom left;
}

.locLAX {
	background: url(locations/la.jpg) no-repeat bottom left;
}

.locPDX {
	background: url(locations/portland.jpg) no-repeat bottom left;
}

#locTop{
	background-color:#000;
	width:450px;
	position:relative;
	margin-top:2em;
	border-top-right-radius:1.5em;
	border-top-left-radius:1.5em;
	left:268px;
	z-index:2;
}

#locTop nav a:link,
#locTop nav a:visited{
	display:inline-block;
	height:30px;
	padding: 5px;
	color:#fff;
	text-decoration:none;
	padding-top:10px;
	padding-right:15px;
	padding-left:15px;
	border-top: 2px solid black;
}

#locTop nav a:hover,
#locTop nav .active a:link{
	background-color:#11FF55;
	color:#000;
}

#locTop nav{
	padding-left:30px;
}

#locTop ul{
	margin:0;
}

#locTopNav li{;
	color:#fff;
	display:inline-block;
}

#locMap{
	background-color:#000;
	background-image: url(locmap_default.jpg) no-repeat top right;
	width: 380px;
	height:280px;
	border:2px solid black;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
	top:0px;
}

.fullWrapper{
	height:280px;
	position:relative;
	margin-bottom:2em;
}

.locElement{
	display:inline-block;
	position:relative;
	float:left;
}

.locAddy{
	height:280px;
	width:280px;
	top:0px;
	border:2px solid black;
	border-left:0px;
	border-bottom-right-radius:25px;
}

.locButtons{
	padding-top:5px;
	width:50px;
	background-color:black;
	border-right:2px solid black;
	border-bottom-right-radius:1.5em;
	padding-bottom:15px;
	
}

.locButtons div{
	padding:5px;
}

.locButtons div:hover{
	background-color:#11FF55;
}

/*styles for specials / prod table*/

#prodTable{
	padding:1em;
}

#addProductsForm form input{
	width:400px;
}

.flyerSpecial{
	padding: 1em 0 1em;
	text-align:center;
	max-width: 800px;
}

.flyerSpecial img{
	width:100%;
}

/*styles for about page*/
#formBox, #commentForm{
	margin:auto;
	text-align:right;
	width:400px;
}

#submitDiv{
	width:100px;
	height:40px;
}

#clearProductsForm{
	background-color:#94FFFF;
}

#addProductsForm{
	background-color:#35C9C9;
}

#finalizeForm{
	background-color:#80FF7A;
}

/*styles for the email form */

#commentForm label{
	font-weight:bold;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
}

#commentForm label[for="comments"]{
	display:block;
}

#commentForm fieldset {

	border:none;
}

#commentForm input, #commentForm textarea{
	border-radius: 8px;
	padding:10px;
	border:none;
	margin: 0 0 10px 0;
}

#commentForm input[type="submit"]{
	border-radius:8px;
	font-face:'Open Sans';
	font-size:1em;
	font-weight:bold;
	text-shadow: 0 1px 1px rgba(255,255,255,0.85);
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

#commentForm input:focus, #commentForm textarea:focus{
	outline: 0;
	box-shadow: 0 0 5px 2px rgba(17,255,85,.5);
}

#commentForm input[type="text"], #commentForm input[type="email"]{
	background: rgb(160,160,160); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(160,160,160,1) 0%, rgba(191,191,191,1) 4%, rgba(255,255,255,1) 8%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,1)), color-stop(4%,rgba(191,191,191,1)), color-stop(8%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 4%,rgba(255,255,255,1) 8%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 4%,rgba(255,255,255,1) 8%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 4%,rgba(255,255,255,1) 8%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 4%,rgba(255,255,255,1) 8%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

#commentForm textarea{
	resize:none;
	background: rgb(160,160,160); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(160,160,160,1) 0%, rgba(191,191,191,1) 1%, rgba(255,255,255,1) 3%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(160,160,160,1)), color-stop(1%,rgba(191,191,191,1)), color-stop(3%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 1%,rgba(255,255,255,1) 3%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 1%,rgba(255,255,255,1) 3%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 1%,rgba(255,255,255,1) 3%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(160,160,160,1) 0%,rgba(191,191,191,1) 1%,rgba(255,255,255,1) 3%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}