@charset "utf-8";
/* CSS Document */

.hidden{
	display:none;
}

body{
	margin: 0 0 0 0; 
	height:100%;
	width:100%;
	overflow-y:scroll;
	font-family: Segoe UI, Arial, Verdana;
	background-color:#E8EAD0;
	background: url(bedge_grunge.jpg) repeat left top;
}

.header{
	/*max-width:1400px;*/
}

#topbar{
	background-color:#000;
	background: url(floral3.jpg) no-repeat left bottom;
	background-size:100%;
	height:60%;
	max-height:647px;
	width:100%;
	margin:auto;
	position:relative;
	top:0;
	border-bottom:solid black 2px;
}

#toplogo{
	background: url(shibatalogo.png) no-repeat right bottom;
	text-indent: -999px;
	height:75px;
	width:250px;
	padding: 10px 10px 0 0 ;
}

#debug{
	display:none;
	position:fixed;
	float:right;
	top:0px;
	right:0px;
	color:white;
	z-index:99;
}

#intro{
	background: url(shibata_intro.png) no-repeat top left;
	background-color:rgba(0,0,0,0.60);
	/*margin: 0px 0  0 500px;*/
	right:0px;
	width:600px;
	height:257px;
	position:absolute;
	bottom:150px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
}

#crest{
	background: url('crest3.png');
	cursor:pointer;
	width:162px;
	height:162px;
	left:50%;
	margin-left:-81px;
	margin-top:150px;
	position:absolute;
	/*bottom:0px*/
	z-index:20;
	border-radius:81px;
}

#nav {
	min-width:100%;
	position:absolute;
	bottom:0px;
}

.navcat{
	font-size:2em;
	color:white;
	text-align:center;
	min-width:19.5%;
	padding-top:10px;
	/*padding-bottom:10px;*/
	display:inline-block;
	text-indent:-99999px;
	cursor:pointer;
	bottom:0px;
	position:relative;
	z-index:2;
}

.navbar {
	background-color:transparent;
	height:10px;
	bottom:0px;
	position:relative;
	z-index:1;
}

#products {
	background: url('img/cat_products.png') no-repeat center center;
}

#specials {
	background: url('img/cat_specials.png') no-repeat center center;
}

#locations {
	background: url('img/cat_locations.png') no-repeat center center;
}

#about {
	background: url('img/cat_about.png') no-repeat center center;
}

/*main area styles*/

.main {
	/*max-width:1400px;*/
	margin:auto;
}

#mainbg {
	background-color:#ddd;
	background:url(floral_bw3_2.jpg) no-repeat top left;
	background-size:100%;
	width:100%;
	height:40%;
	min-height:450px;
	position:relative;
	z-index:-1;
	clear:both;
	border-bottom: solid black 2px;
}

#introtext{
	background-color:rgba(0,0,0,0.60);
	/*margin: 0px 0  0 500px;*/
	left:0px;
	width:600px;
	height:150px;
	position:absolute;
	top:50px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	padding-left: 15px;
	color:white;
	font-family:Segoe UI, Arial, Verdana;
	font-size:1.3em;
}

#waiting{
	position:absolute ;
	top:300px;
	left:0px;
	right:0px;
	text-align:center;
	z-index:-1;
}

/*#maincontent {
	font-family: Georgia, Segoe UI, Verdana, Arial;
	background-color:white;
	position:relative;
	width:100%;
	height:0px;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	font-size:1em;
	z-index:-1;
	text-align:center;
}*/

#maincontent h1 {
	text-align:center;
}

.goGreen{
	background-color:#0F0;
}

.catHilite {
	background-color:#11FFAA;
}

.catActive{
	background-color:#11FF55;
}

a img{
	border:0;
}