@charset "utf-8";
/* CSS Document */

body {
	font-family: Segoe UI, Arial, Verdana;
	text-align:center
}

h3 {
	color:#222222;
    font-size:1em;
}

h6 {
	color: #000000;
}

#top {
        background-color:#99FF99;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        margin:auto;
		vertical-align:middle;
		height:60px

}

#wholebody {
        background-color:#EEEEEE;
		background-image:url(floral.jpg);
		border-radius: 10px;
        max-width:800px; 
        margin:auto;
}

#bottom {
        background-color:#99FF99;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        height:30px;
}

#bottom h6 {
	padding:5px;
}

#middle {
        /*background-color:#CCCCCC;*/
		height:400px;
		margin:auto;
		text-align:center;
}

#middlebg{
	width:600px;
	margin:auto;
	margin-top:30px;
	background-color:rgba(238,238,238,0.90);
	padding: 10px;
	border-radius:10px;
	box-shadow:5px 5px 5px #000000;
	text-align:center;
	/*opacity:0.8;*/
}

#middletext{
	width:inherit;
	margin:auto;
	border-radius:10px;
	text-align:center;
	
}

a{
	color:black;
}


